/*  Header */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
#root {
  max-width: 1200px;
  margin: 0 auto;
}

.shortblog {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2em;
  height: 300px;
  justify-content: space-between;
  margin: 2em 0;
  padding: 2em;
  border: 1px solid gray;
  overflow: hidden;
  border-radius: 10px;
  overflow: hidden;
}
img {
  max-width: 100%;
  max-height: 100vh;
}

.comment {
  padding: 1em 2em;
  border: 0.3px solid gray;
  border-radius: 5px;
  margin: 1em;
}

.addreply {
  padding: 1em;
}

.blog-post {
  display: grid;
  grid-template-columns: 1fr 1.3fr;
}
.shortblog p {
  overflow: hidden;
  height: 130px;
}
.blog-post .info {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;
}
.blog-post span,
.comment span {
  margin-right: 1em;
}

/* Write Blog */
.addblog {
  border: 1px solid lightgray;
  padding: 1em;
  border-radius: 5px;
  display: grid;
  place-items: center;
}
.addblog input,
.addblog textarea {
  width: 100%;
  padding: 5px 10px;
  border-radius: 5px;
  outline: none;
}
.addblog h3 {
  text-align: center;
  cursor: pointer;
}
.addblog span {
  color: red;
}

.addblog button {
  color: #fff;
  background-color: green;
  outline: none;
  padding: 0.6em 2em;
  margin: 1em 0;
  border-radius: 5px;
  border: none;
}

.editblog {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  place-items: center;
}
.editblog > div {
  min-width: 400px;
  min-height: 300px;
  padding: 2em;
  background-color: #fff;
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1em;
  justify-content: space-between;
}
input,
textarea {
  width: 100%;
}
